{% extends 'base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body %}
    <h1 class="former-titre">Liste des participants</h1>

    <table class="table-auto">
        <thead>
            <tr>
                <th class="th-responsive">Id</th>
                <th>Email</th>
                <th class="th-responsive">Roles</th>
                <th class="th-responsive">Nom</th>
                <th class="th-responsive">Prenom</th>
                <th class="th-responsive">Telephone</th>
                <th class="th-responsive">Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}

            <tr>
                <td class="td-responsive">{{ participant.id }}</td>
                <td>{{ participant.email }}</td>
                <td class="td-responsive">{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                <td class="td-responsive">{{ participant.nom }}</td>
                <td class="td-responsive">{{ participant.prenom }}</td>
                <td class="td-responsive">{{ participant.telephone }}</td>
                <td class="td-responsive">{{ participant.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="still_button" href="{{ path('app_participant_show', {'id': participant.id}) }}">Profil</a>
                    <a class="still_button" href="{{ path('app_participant_edit', {'id': participant.id,'_token': csrf_token('editer'~participant.id)}) }}">Modifier</a>
                    <a class="still_button" href="{{ path('app_participant_inactif', {id: participant.id,_token: csrf_token('inactif'~participant.id)}) }}">Désactiver</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="create_class" href="{{ path('app_participant_new') }}">Crée un nouveaux participant</a>
{% endblock %}
