{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1 class="former-titre">Participant</h1>

    <table class="table-auto">
        <tbody>
        {% if participant.image != null %}
        <img id="img_user" src="{{ asset('uploads/profil_pics/'~ participant.image.imageName) }}" alt="">
        {% endif %}
        <tr>
            <th>Id</th>
            <td>{{ participant.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ participant.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ participant.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ participant.prenom }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ participant.telephone }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('participant/_delete_form.html.twig') }}
    <div class="placer_btn"   >
        <a class="still_button_form" href="{{ path('app_participant_index') }}">Retour</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or app.user.id == participant.id %}
        {% endif %}
        <a class="create_orange" href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>
    </div>
{% endblock %}