{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1 class="former-titre">Edit Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <div class="placer_btn">
        <a class="still_button_form" href="{{ path('app_sortie_index') }}">Retour</a>
        <a class="create_orange" href="{{ path('app_sortie_form_annuler', {id: sortie.id, token: csrf_token('annuler' ~ sortie.id)}) }}">Annuler</a>
        {{ include('sortie/_delete_form.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_sortie_delete', {'id': sortie.id, 'token': csrf_token('supprimerSortie'~sortie.id)}) }}">Supprimer la sortie</a>
    {% endif %}
        <div>

{% endblock %}
