{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('setCoordinate') }}
{% endblock %}

{% block body %}
    <h1 class="former-titre">Edit Sortie</h1>
    <div id="mapContainer">
        {{ render_map(map, { style: 'height: 300px; width: 100%' }) }}
    </div>
    {{ include('sortie/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <div class="placer_btn">
        <a class="still_button_form" href="{{ path('app_sortie_index') }}">Retour</a>
        <a class="create_orange" href="{{ path('app_sortie_form_annuler', {id: sortie.id, token: csrf_token('annuler' ~ sortie.id)}) }}">Annuler</a>
        {{ include('sortie/_delete_form.html.twig') }}
        <div>

{% endblock %}
