{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <h1 class="former-titre">Liste des sorties</h1>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}"> {{ message }}</div>
    {% endfor %}
    {% endfor %}

        {{ form_start(form, {'method': 'POST', 'attr': {'data-turbo': 'false'}}) }}
        {{ form_widget(form, { 'attr':{'class': 'former_form' }}) }}
        {{ form_end(form) }}



    <table class="table-auto">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>DateLimiteInscription</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                {#                <th>Inscrit</th>#}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            <tr>
                <td><a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H\\Hi') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H\\hi') : '' }}</td>
                <td>{{ sortie.getNombreInscrits() }} / {{ sortie.NbInscriptionsMax() }}</td>
                <td>{{ sortie.etat.libelle }}</td>
{#              <td>{{ sortie.inscrit }}</td>#}
                <td><a href={{ path('app_participant_show', {'id': sortie.organisateur.id}) }}>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a></td>
                <td>
                    <a class="still_button" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') or app.user.id == sortie.organisateur.id %}
                        <a class="still_button" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="create_class" href="{{ path('app_sortie_new') }}">Crée un nouvelle sortie</a>
{% endblock %}
