{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('setCoordinate') }}
{% endblock %}

{% block body %}
    <h1 class="former-titre">Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    <div class="placer_btn">
        <a class="still_button_form" href="{{ path('app_sortie_index') }}">Retour</a>
    </div>

    <div id="mapContainer">
        {{ render_map(map, { style: 'height: 600px' }) }}
    </div>

{% endblock %}
