{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h2>{{ sortie.nom }}</h2>

    <div class="sortie-info">
        <ul id="sortie_data">
            <li class="sortie-data"><span class="sortie-field">Date et Heure :</span><span class="sortie-value">{{ sortie.dateHeureDebut | date('d/m/Y H\hi') }}</span></li>
            <li class="sortie-data"><span class="sortie-field"></span>ville :<span class="sortie-value">{{ sortie.lieu.ville }}</span></li>
            <li class="sortie-data"><span class="sortie-field">rue :</span><span class="sortie-value"> {{ sortie.lieu.rue }}</span></li>
            {% if sortie.dateLimiteInscription %}
                <li class="sortie-data"><span class="sortie-field"></span>Clôture<span class="sortie-value">{{ sortie.dateLimiteInscription | date('d/m/Y H\hi') }}</span></li>
            {% endif %}
            {% if sortie.nbInscriptionsMax %}
                <li class="sortie-data"><span class="sortie-field"></span>Nombre de places :<span class="sortie-value">{{ sortie.nbInscriptionsMax }}</span></li>
            {% endif %}
            {% if sortie.duree %}
                <li class="sortie-data"><span class="sortie-field"></span>Durée :<span class="sortie-value">{{ sortie.duree }}</span></li>
            {% endif %}
        </ul>
        {% if sortie.infosSortie %}
            <h3>Description et info</h3>
            <p>{{ sortie.infosSortie or sortie.motifAnnuler }}</p>
        {% endif %}
    </div>

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>
    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Éditer</a>

    {% if (not sortie.participant.contains(participant) and sortie.dateLimiteInscription|date('U') > "now"|date('U') or sortie.dateLimiteInscription is null) and (sortie.nbInscriptionsMax > 0 or sortie.nbInscriptionsMax is null) and sortie.etat.id == 2 %}
        <a href="{{ path('app_sortie_inscription', {'id': sortie.id , 'token': csrf_token('inscription'~sortie.id)}) }}">S'inscrire</a>
    {% endif %}
    {% if (sortie.participant.contains(participant) and sortie.dateLimiteInscription|date('U') > "now"|date('U') or sortie.dateLimiteInscription is null) and sortie.dateHeureDebut|date('U') > "now"|date('U') and sortie.etat.id == 2 %}
        <a href="{{ path('app_sortie_desistement', {'id': sortie.id , 'token': csrf_token('desistement'~sortie.id)}) }}">Annuler mon inscription</a>
    {% endif %}






    {{ include('sortie/_delete_form.html.twig') }}

    <h3>Participants inscrits</h3>
    <ul>
        {% for participant in sortie.participant %}
            <li>
                <a href="{{ path('app_participant_show', { 'id': participant.id }) }}">
                    {{ participant.nom }} {{ participant.prenom }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
