{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1 class="former-titre">{{ sortie.nom }}</h1>

    <div class="former_form">
        <ul id="sortie_data">
            <li class="sortie-data"><span class="sortie-value">{{ sortie.dateHeureDebut | date('d F Y H:i:s') }}</span></li>
            <li class="sortie-data"><span class="sortie-value">{{ sortie.lieu.ville }}</span></li>
            <li class="sortie-data"><span class="sortie-value"> {{ sortie.lieu.rue }}</span></li>
            {% if sortie.dateLimiteInscription %}
                <li class="sortie-data"><span class="sortie-field">Clôture: </span><span class="sortie-value">{{ sortie.dateLimiteInscription | date('d F Y H:i:s') }}</span></li>
            {% endif %}
            {% if sortie.nbInscriptionsMax %}
                <li class="sortie-data"><span class="sortie-value">{{ sortie.nbInscriptionsMax }} place(s)</span></li>
            {% endif %}
            {% if sortie.duree %}
                <li class="sortie-data"><span class="sortie-value">{{ sortie.duree }} minutes</span></li>
            {% endif %}
        </ul>
        {% if sortie.infosSortie %}
            <h3>Description et info</h3>
           <p>{{ sortie.infosSortie }}</p>

        {% else %}
        <p>{{ sortie.motifAnnuler }}</p>
        {% endif %}
    </div>
    <div class="placer_btn">
        <a class="still_button_form" href="{{ path('app_sortie_index') }}">Retour</a>

        {% if not isOrganisateur %}
        {% if (not sortie.participant.contains(participant) and sortie.dateLimiteInscription|date('U') > "now"|date('U') or sortie.dateLimiteInscription is null) and (sortie.nbInscriptionsMax > 0 or sortie.nbInscriptionsMax is null) and sortie.etat.id == 2 %}
            <a class="create_vert" href="{{ path('app_sortie_inscription', {'id': sortie.id , 'token': csrf_token('inscription'~sortie.id)}) }}">S'inscrire</a>
        {% endif %}
        {% if (sortie.participant.contains(participant) and (sortie.dateLimiteInscription|date('U') > "now"|date('U') or sortie.dateLimiteInscription is null) and sortie.dateHeureDebut|date('U') > "now"|date('U') )and sortie.etat.id == 2 %}
            <a class="create_rouge" href="{{ path('app_sortie_desistement', {'id': sortie.id , 'token': csrf_token('desistement'~sortie.id)}) }}">Annuler mon inscription</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="former_form">
        <h3 class="titre-3">Participants inscrits :</h3>
        <ul>
            {% for participant in sortie.participant %}
                <li>
                    <a href="{{ path('app_participant_show', { 'id': participant.id }) }}">
                        {{ participant.nom }} {{ participant.prenom }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
