<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <h1><img src="{{ asset('img/logo.png') }}" alt=""></h1>
    <nav>
        <ul>
            {% if is_granted('IS_AUTHENTICATED') %}

{#                  lIENS à TERMINER     #}
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                <li style="padding: 5px;"><a href="{{  path('') }}">Villes</a></li>#}
{#                <li style="padding: 5px;"><a href="{{  path('') }}">Sites</a></li>#}
{#                {% endif %}#}

                <li style="padding: 5px;"><a href="{{  path('app_sortie_index') }}">Accueil</a></li>

                <li><a href="{{ path('app_participant_show', {'id': app.user.id}) }}">Mon profil</a></li>


                    <li style="padding: 5px;"><a href="{{  path('app_logout') }}">Je m'en vais BYE BYE les nazes</a></li>
                {% else %}
                    <li style="padding: 5px;"><a href="{{  path('app_login') }}">STP Laisse moi rentrer</a></li>
            {% endif %}
        </ul>
    </nav>

    {{ "now"|date('d/m/Y') }}




        {% block body %}{% endblock %}
    </body>
</html>
